 <head>
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <meta name="description" content=""/>
   <meta name="author" content=""/>

   <title>Projeto Name</title>

   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

   <!-- Custom styles for this template -->
   <link th:href="@{/css/starter-template.css}" rel="stylesheet"/>

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>