<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white" th:href="@{/}">Projeto Name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/pedidos}">Pedidos</a></li>
        <li><a th:href="@{/fornecedores}">Fornecedores</a></li>
        <li><a th:href="@{/produtos}">Produtos</a></li>
        <li><a th:href="@{/transportadoras}">Transportadoras</a></li>
      </ul>
	  <span class="navbar-text navbar-right" style="color:white">By Lucas Govea</span>
    </div><!--/.nav-collapse -->
  </div>
</nav>