<!DOCTYPE html>
<html lang="pt-br"
	  xmlns:th="http://www.thymeleaf.org" >
	<head th:replace="layout/head"></head>

  <body>
    <div th:replace="layout/menu"></div>
    <form id="dadosPedidoForm" th:action="${ehVisualizar} ? '' : @{/pedidos/salvar/}" th:method="${ehVisualizar} ? '' : 'POST'" th:object="${pedido}" >
	    <div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 th:text="${pedido.id} != 0 ? 'Pedido ' + ${pedido.id} : 'Novo Pedido'"></h1>
				</div>
			</div>
			<hr/>
			<div th:if="not ${ehVisualizar}" class="line">
				<!-- Itens Aqui -->
			</div>
			<div th:unless="not ${ehVisualizar}" th:each="item : *{itens}">
					<div class='row'>
						<div class='form-group col-md-3'>
							<label class='control-label'>Quantidade:</label>
							<input type='text' disabled="disabled" class='form-control' th:value="${{item.quantidade}}"/>
						</div>
						<div class='form-group col-md-6'>
							<label class='control-label'>Produto:</label>
							<input class='form-control' disabled="disabled" th:value="${item.produto.nome}"/>
						</div>
					<div class="form-group col-md-3">
							<label class="control-label">Valor(R$)</label>
							<input type="text" disabled="disabled" class="form-control" th:value="${{item.valor}}"/>
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<input th:if="not ${ehVisualizar}" id="addrow" type="button" class="pull-right btn btn-primary" value="Adicionar Item"/>
				</div> 
			</div> 
			<hr/>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="nome">Nota Fiscal:</label>
					<input th:disabled="${ehVisualizar}" type="text" class="form-control nota-fiscal" th:field="*{notaFiscal}"   />
				</div> 
			</div> 
			<div class="row">
				<div class="col-md-6 form-group">
					<label for="transportadora">Transportadora:</label>
					<select th:disabled="${ehVisualizar}" class="form-control transportadora" th:field="*{transportadora}" >
					  	<option value="">Selecione...</option>
						<option th:each="transportadora : ${transportadoras}" th:value="${transportadora.id}" th:text="${transportadora.nome}"></option>
					</select>
				</div>
				<div class="col-sm-6 form-group">
					<label for="descricao">Valor Frete(R$):</label>
					<input th:disabled="${ehVisualizar}" type="text" class="form-control valor-frete" th:field="*{valorFrete}"   />
				</div> 
			</div> 
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="descricao">Desconto(%):</label>
					<input th:disabled="${ehVisualizar}" type="text" class="form-control desconto" th:field="*{desconto}"   />
				</div> 
				<div class="col-sm-6 form-group">
					<label for="descricao">Valor Total(R$):</label>
					<input readonly="readonly" type="text" class="form-control valor-total" th:field="*{valorTotal}"   />
				</div> 
			</div> 
			<hr/>
			<div class="row">
				<div class="col-md-12 form-group">
					<div class="alert alert-danger hide" role="alert">É obrigatório adicionar um item e preencher todos os campos do formulário.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input th:if="not ${ehVisualizar}" type="submit" class="btn btn-primary" value="Salvar"/>
					<a th:href="@{/pedidos}" class="btn btn-default" th:text="${ehVisualizar} ? 'Voltar' : 'Cancelar'"></a>
				</div>
			</div>
		</div>
	</form>
    <div th:replace="layout/script"></div>
  </body>
</html>
