<!DOCTYPE html>
<html lang="pt-br"
	  xmlns:th="http://www.thymeleaf.org" >
	<head th:replace="layout/head"></head>

  <body>
    <div th:replace="layout/menu"></div>
    <form id="dadosTransportadoraForm" th:action="@{/transportadoras/salvar/}" method="POST" th:object="${transportadora}" >
    <div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 th:text="${transportadora.id} != 0 ? 'Transportadora ' + ${transportadora.id} : 'Nova Transportadora'"></h1>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-12 form-group">
				<label for="nome">Nome:</label>
				<input type="text" id="nome" class="form-control nome" th:field="*{nome}" />
			</div> 
		</div> 
		<input type="hidden" class="form-control" th:field="*{id}"   />
		<hr/>
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="alert alert-danger hide" role="alert">Todos os campos do formulário são obrigatórios.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<input type="submit" class="btn btn-primary" value="Salvar"/>
				<a th:href="@{/transportadoras}" class="btn btn-default">Cancelar</a>
			</div>
		</div>
	</div>
	</form>
    <div th:replace="layout/script"></div>
  </body>
</html>
