<!DOCTYPE html>
<html lang="pt-br"
	  xmlns:th="http://www.thymeleaf.org" >
  <head th:replace="layout/head"></head>

  <body>
    <div th:replace="layout/menu"></div>
    <div class="container">
    	<div class="row">
			<div class="col-sm-3">
				<h1>Transportadoras</h1>
			</div>
			<div class="col-sm-6">
				<form th:action="@{/transportadoras/buscar}" method="GET">
					<div class="input-group h2">
						<input class="form-control" type="text" name="termoPesquisa" placeholder="Pesquise pelo nome da transportadora" />
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
			<div class="col-sm-3">
				<a class="btn btn-primary pull-right h2" type="button" th:href="@{/transportadoras/novo}">Nova Transportadora</a>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="table-responsive col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Nome</th>
							<th class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="transportadora : ${transportadoras}">
							<th class="text-center" scope="row" th:text="${transportadora.id}"></th>
							<td class="text-center" th:text="${transportadora.nome}"></td>
							<td class="text-center">
								<a class="btn btn-danger btn-sm" href="" th:attr="data-id=${transportadora.id}, data-link='transportadoras'" data-toggle="modal" data-target="#js-excluir-modal">Excluir</a>
								<a class="btn btn-warning btn-sm" type="button" th:href="@{/transportadoras/editar/__${transportadora.id}__}">Editar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row text-center">
			<div th:if="${transportadoras != null and transportadoras.getTotalPages() &gt; 0}"
				class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${transportadoras.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/transportadoras(page=1)}">Início</a></li>
					<li th:class="${transportadoras.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/transportadoras(page=${transportadoras.getNumber()})}">Anterior</a></li>
					<li th:class="${transportadoras.getNumber() == (page - 1)} ? 'active pointer-disabled'" th:each="page : ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}">
						<a class="pageLink" th:href="@{/transportadoras(page=${page})}" th:text="${page}"></a>
					</li>
					<li th:class="${transportadoras.getNumber() + 1 == transportadoras.getTotalPages()} ? disabled">
						<a class="pageLink" th:href="@{/transportadoras(page=${transportadoras.getNumber() + 2})}">Próximo</a>
					</li>
					<li th:class="${transportadoras.getNumber() + 1 == transportadoras.getTotalPages()} ? disabled">
						<a class="pageLink" th:href="@{/transportadoras(page=${transportadoras.getTotalPages()})}">Fim</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- modal -->
		<div class="modal fade" id="js-excluir-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="modalLabel">Excluir</h4>
		      </div>
		      <div class="modal-body">
		        Deseja realmente excluir?
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="simButton" class="btn btn-primary">Sim</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
		      </div>
		    </div>
		  </div>
		</div>
    <div th:replace="layout/script"></div>
  </body>
</html>
