<!DOCTYPE html>
<html lang="pt-br"
	  xmlns:th="http://www.thymeleaf.org" >
	<head th:replace="layout/head"></head>

  <body>
    <div th:replace="layout/menu"></div>
    <form id="dadosFornecedorForm" th:action="@{/fornecedores/salvar/}" method="POST" th:object="${fornecedor}" >
    <div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 th:text="${fornecedor.id} != 0 ? 'Fornecedor ' + ${fornecedor.id} : 'Novo Fornecedor'"></h1>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-12 form-group">
				<label for="nome">Nome:</label>
				<input type="text" id="nome" class="form-control" th:field="*{nome}"   />
			</div> 
		</div> 
		<input type="hidden" class="form-control" th:field="*{id}"   />
		<div class="row">
			<div class="col-sm-12 form-group">
				<label for="descricao">Descrição</label>
				<input type="text" class="form-control" th:field="*{descricao}"   />
			</div> 
		</div> 
		<div class="row">
			<div class="col-md-12 form-group">
				<label for="descricao">Cidade</label>
				<input type="text" class="form-control" th:field="*{cidade}"   />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label for="descricao">Endereço</label>
				<input type="text" class="form-control" th:field="*{endereco}"   />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label for="descricao">Bairro</label>
				<input type="text" class="form-control" th:field="*{bairro}"   />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label for="descricao">Número</label>
				<input type="text" class="form-control" th:field="*{numero}"   />
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="alert alert-danger hide" role="alert">Todos os campos do formulário são obrigatórios.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<input type="submit" class="btn btn-primary" value="Salvar"/>
				<a th:href="@{/fornecedores}" class="btn btn-default">Cancelar</a>
			</div>
		</div>
	</div>
	</form>
    <div th:replace="layout/script"></div>
  </body>
</html>
