<!DOCTYPE html>
<html lang="pt-br"
	  xmlns:th="http://www.thymeleaf.org" >
	<head th:replace="layout/head"></head>

  <body>
    <div th:replace="layout/menu"></div>
    <form id="dadosProdutoForm" th:action="@{/produto/salvar/}" method="POST" th:object="${produto}" >
    <div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 th:text="${produto.id} != 0 ? 'Produto ' + ${produto.id} : 'Novo Produto'"></h1>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-12 form-group">
				<label for="nome">Nome:</label>
				<input type="text" id="nome" class="form-control" th:field="*{nome}" />
			</div> 
		</div> 
		<input type="hidden" class="form-control" th:field="*{id}"   />
		<div class="row">
			<div class="col-sm-12 form-group">
				<label for="descricao">Descricao:</label>
				<input type="text" class="form-control" th:field="*{descricao}" />
			</div> 
		</div>
		<div class="row">
			<div class="col-sm-12 form-group">
				<label for="produto">Fornecedor:</label>
				<select class="form-control" th:field="*{fornecedor}" >
				  	<option value="">Selecione...</option>
					<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.id}" th:text="${fornecedor.nome}"></option>
				</select>
			</div> 
		</div> 
		<hr/>
		<div class="row">
			<div class="col-md-12 form-group">
				<div class="alert alert-danger hide" role="alert">Todos os campos do formulário são obrigatórios.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<input type="submit" class="btn btn-primary" value="Salvar"/>
				<a th:href="@{/produtos}" class="btn btn-default">Cancelar</a>
			</div>
		</div>
	</div>
	</form>
    <div th:replace="layout/script"></div>
  </body>
</html>
